.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #ecbd00;
    height: 70px;
    padding: 0%;
    z-index: 11;
    align-content: space-around;
  }

.main-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

.a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    width: 150px;
}
.a:hover{
    color: rgb(0, 0, 0);
    background-color: #ffbb00;
    border: 2px solid rgb(0, 0, 0);
    transition: 0.1s;
}
.nav-links{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 200px;
  }


.mainImage{
    position: absolute;
    width: 100%; 
    max-width: 100%;
    filter: blur(3px);
    z-index: 10; 
    top: 0;
    left: 0;
    right: 0;
}

.main-buttons{
    display: flex;
    position: absolute;
    z-index: 15;
    right: 0;
    top: 400px;
}

#btnq{
    margin-right: 25px;
}
    
#btnm:hover{
    background-color: #ffbb00;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    transition: 0;
}

#title{
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: 'Arial', Times, serif;
    font-weight: bold;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    position: relative;
    top: 120px;
    padding: 0%;
    text-transform: capitalize;
    padding-left: 50px;
}

#btnq:hover{
    background-color: #ffbb00;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    transition: 0;
}

#body{
    background-color: #252525;
    padding: 0%;
}

.logo{
        max-width: 100%; /* Limit the maximum width of the logo */
        height: auto; /* Maintain the aspect ratio */
        position: relative;
        border-color: #ecbd00;
        border-style: solid;
        border-width: 5px;
        
      }

.logo-img{
    width:200px;
    
}

#footer{
    bottom: 0;
}