<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>estimate form</title>
</head>
<body>
    <form id="add-quote" method="post"></form>
    <h1>Estimate Form</h1>

    {{ form.hidden_tag() }}

    {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}

            {%for error in field.errors %}
                {{error}}
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>