<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/homepage.css">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" data-bs-theme="dark">
    <title>Homepage</title>
</head>
<body id="body">
    
    

    <nav class="navbar">

      <div class="logo">
        <img src="/photos/a.png" alt="">
      </div>


      <ul class="nav-links"> 
        <li><a class="a" href="">Services</a></li>
        <li><a class="a" href="">About Us</a></li>
        <li><a class="a" href="">Projects</a></li>
        <li><a class="a" href="">Contact Us</a></li>
        <li><a class="a" href="">Employment</a></li>
      </ul>
    </nav>
      
   

    <h1 id="title">Building Northern California for over 45 years</h1>
     
      <div class="mainFrame">
        <img class="mainImage" src="/photos/b.png" alt="">

        <div class="main-buttons">
            <a href="/estimate" id="btnq" type="button" class="btn btn-small btn-warning" > REQUEST A FREE ESTIMATE</a>
            <a href="/estimate" id="btnm" type="button" class="btn btn-small btn-warning" > SET UP A MEETING</a>
        </div>

      </div>

      
        

        <div id="services">
            <h3>VIEW OUR SERVICE AREA</h3>
            <p>We service the Greater Sacramento Area and beyond</p>
            <button> <a href="">Learn More</a> </button>
        </div>
    
    

    <p>Sierra Asphalt is a General Engineering firm offering a variety of services centered upon asphalt paving. We specialize in constructing, modifying, repairing, resurfacing, seal coating, and striping parking lots. Our ability to consistently deliver quality work with friendly and professional service has allowed us to become one of the best known and most highly respected pavement contractors in the greater Sacramento Region.</p>

    <footer id="footer">
        <p>3755 Omec Circle, Suite 2, Rancho Cordova, CA 95742 / (916) 635-9898</p>
        <p> 2008-2013 Sierra Asphalt</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>